.comright-parent {
  width: 312px;
  margin-left: 24px;
}

.comright-about {
  width: 100%;
}

.comright-toprow {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  border-radius: 4px 4px 0 0px;
}

.comright-abouttext {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.comright-modtools {
  margin: auto 0 auto auto;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  border-radius: 2px;

  &:hover {
    background-color: rgba(26, 26, 27, 0.1);
  }
}

.comright-threecontainer {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: auto 0 auto auto;

  &:hover {
    background-color: rgba(26, 26, 27, 0.1);
  }
}

.comright-descparent {
  background-color: white;
  padding: 12px;
  border-radius: 0 0 3px 3px;
}

.comright-adddesc {
  margin: 8px 0 12px 0;
  padding: 8px;
  background-color: #f6f7f8;
  border: 1px solid #dae0e6;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  color: #0079d3;
  transition: 0.1s linear all;

  &:hover {
    border: 1px solid #0079d3;
  }
}

.comright-descedit {
  display: flex;
  flex-direction: column;
  background-color: #f6f7f8;
  padding: 8px;
  border-radius: 4px;
  margin: 8px 0 12px 0;
}

.comright-descinput {
  background-color: transparent;
  resize: none;
  font-size: 14px;
  overflow: hidden;
}

.comright-inputsave {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.comright-charactersleft {
  font-size: 12px;
  color: #7c7c7c;
  flex-grow: 1;
}

.comright-descchoice {
  margin: 0px 4px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.comright-description {
  font-size: 14px;
  line-height: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: all 0.1s linear;
  border-radius: 3px;
  box-sizing: border-box;
}

.comright-description-noadmin {
  font-size: 14px;
  line-height: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

//------Moderators section------\\

.rightmod-parent {
  width: 312px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-left: 24px;
}

.rightmod-banner {
  padding: 0px 12px;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  border-radius: 3px 3px 0 0;
}

.rightmod-second {
  background-color: white;
  border-radius: 0 0 3px 3px;
  padding: 12px;
}

.rightmod-message {
  margin-bottom: 20px;
}

.rightmod-modmap {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 16px;
  max-width: 100%;
}

.rightmod-allmod {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
}

.rightmod-p {
  margin-left: auto;
  font-size: 12px;
  font-weight: 700;
  color: #0079d3;
  cursor: pointer;
}
