.up-parent {
  width: 100%;
}

.up-mapright {
  display: flex;
  background-color: white;
  align-items: center;
  position: relative;
  padding: 8px 8px 0;
}

.up-wh {
  height: 72px;
  width: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(28, 28, 28, 0.03);
  border-radius: 4px;
}

.up-mapparent {
  background-color: white;
  cursor: pointer;
  position: relative;

  &:hover::before {
    border: 1px solid #898989;
    z-index: 2;
    pointer-events: none;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.up-lin {
  display: flex;
  flex-direction: row;
}

.up-postinfo {
  height: 100%;
  margin-left: 8px;
}

.up-title {
  font-weight: 500;
  font-size: 16px;
  color: rgb(176, 176, 176);
}

.up-f {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  color: #878a89;
  padding-top: 2px;
}

.up-fc {
  font-size: 12px;
  font-weight: 500;
  color: #1c1c1c;
}

.up-botrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}

.up-expand {
  height: 36px;
  width: 36px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;

  &:hover {
    background-color: rgba(26, 26, 27, 0.1);
  }
}

.up-divide {
  height: 16px;
  width: 1px;
  background-color: #edeff1;
}

.up-sd {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2px;
  padding: 8px;
  margin-right: 4px;
  border-radius: 2px;
}

.up-hov {
  &:hover {
    background-color: rgba(26, 26, 27, 0.1);
  }
}

.up-2 {
  padding: 4px !important;
}

.up-te {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #878a89 !important;
}

.up-details {
  display: flex;
  padding: 5px 16px 5px 8px;
}

.up-preimg {
  height: 72px;
  width: 96px;
  background-size: cover;
  background-position: center;
}

.nop-parent {
  position: relative;
  width: 100%;
  background-color: #e6eaee;
}

.nop-ch {
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.5px solid #ccc;

  &:hover {
    border: #898989 0.5px solid;
  }
}

.nop-vote {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nop-place {
  width: 16px;
  height: 16px;
}

.nop-nf {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 250px;

  font-size: 18px;
  font-weight: 500;
  color: #1c1c1c;
  line-height: 22px;

  width: 100%;
  text-align: center;
}
