.um-parent {
  margin-top: 48px;
  overflow: hidden;
}

.users-topfilter {
  background-color: white;
  border-radius: 4px;
  margin-bottom: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
}

.usernav-fil {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 6px 8px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 8px;

  &:hover {
    background: rgba(28, 28, 28, 0.08);
  }
}

.usernav-f {
  font-size: 14px;
  color: #87898a;
  font-weight: 500;
  margin-left: 8px;
}

.um-nav {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  padding-left: 18px;
}

.um-sectionchild {
  padding: 0 8px;
  margin: 0 5px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: #1a1a1b;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid transparent;
}

.um-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 20px 24px;
  box-sizing: border-box;
}

//user followers
.uf-parent {
  margin-top: 48px;
  overflow: hidden;
}

.uf-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 24px;
}
