.sp-parent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.sp-inner {
  max-width: 688px;
}

.sp-toptitle {
  padding: 40px 0;
  font-size: 20px;
  font-weight: 500;
  color: #1c1c1c;
}

.sp-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.sp-ti {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 500;
  color: #1c1c1c;
  line-height: 20px;
}

.sp-de {
  font-size: 12px;
  color: #7c7c7c;
}

.sp-input {
  padding: 12px 24px 4px 12px;
  border: 1px solid #edeff1;
  height: 48px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
}

.sp-in {
  margin: 12px 0 0 0;
}

.sp-count {
  padding-top: 13px;
  font-size: 12px;
  color: #7c7c7c;
}

.sp-ar {
  resize: vertical;
  min-height: 131px;

  &::placeholder {
    color: #d7dadc;
    font-size: 14px;
  }
}

.sp-bo {
  border: 2px solid transparent;
  border-radius: 4px;
}
