.name-header {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 2px solid #edeff1;
  display: flex;
  flex-direction: column;
}

.name-title {
  font-size: 17.5px;
  font-weight: 500;
  line-height: 22px;
}

.name-i {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 4px;
  color: #0079dc;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
}

.name-second {
  margin-bottom: 8px;
  border-bottom: 1px solid #edeff1;
  padding-bottom: 2px;
}

.name-nameformat {
  padding: 8px 0;
  font-size: 14px;
  font-weight: 500;
  color: #1c1c1c;
  line-height: 18px;
}

.name-selection {
  padding: 8px 0;
}

.name-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #8d9091;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 0;
  cursor: pointer;
}

.name-inputcol {
  padding: 8px 0;
  color: #878a8c;
  line-height: 16px;
  font-weight: 300;
}

.name-third {
  border-bottom: 1px solid #edeff1;
}

.name-t {
  font-size: 12px;
  line-height: 16px;
  color: #878a8c;
  font-weight: 400;
}

.name-inputimage {
  height: 100px;
  background-color: #f6f7f8;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #edeff1;
  border-radius: 4px;
  margin: 4px 0;
  cursor: pointer;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
