.heightholder {
  height: 48px;
  width: 100%;
}

.parent-home {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner-home {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  justify-content: center;
}

.home-feed {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 960px) {
    width: 640px;
  }
}

.home-newcommunities {
  width: 312px;
  margin-left: 24px;
}

.home-createpost {
  background-color: white;
  padding: 8px 8px 8px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.anchor-createpost {
  cursor: pointer;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  margin-right: 8px;
}

.input-createpost {
  flex-grow: 1;
  background-color: #f6f7f8;
  height: 38px;
  border: none;
  padding-left: 16px;
  border-radius: 4px;
  margin-right: 8px;
  color: #1c1c1c;
  border: 1px solid #f6f7f8;

  &:hover {
    border: 1px solid #0079d3;
    background-color: white;
  }
}

.home-iconcontainer {
  width: 38px;
  height: 38px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #f6f7f8;
  }
}
