@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

.heightholder {
  height: 48px;
  width: 100%;
}

.parent-home {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner-home {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  justify-content: center;
  width: 100%;

  @media only screen and (max-width: 960px) {
    padding: 20px 24px;
  }

  @media only screen and (max-width: 640px) {
    padding: 20px 0px;
  }
}

.home-feed {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 960px) {
    width: 640px;
  }
}

.home-newcommunities {
  width: 312px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 960px) {
    display: none;
  }
}

.home-createpost {
  background-color: white;
  padding: 8px 8px 8px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.anchor-createpost {
  cursor: pointer;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  margin-right: 8px;
}

.input-createpost {
  flex-grow: 1;
  background-color: #f6f7f8;
  height: 38px;
  padding-left: 16px;
  border-radius: 4px;
  margin-right: 8px;
  color: #1c1c1c;
  border: 1px solid #f6f7f8;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    border: 1px solid #0079d3;
    background-color: white;
  }
}

.input-con {
  flex-grow: 1;
  height: 70%;
  border-radius: 4px;
  color: #1c1c1c;
  width: 100%;
  border: none;
  margin-right: 8px;
  background: transparent;
}

.home-iconcontainer {
  width: 38px;
  height: 38px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #f6f7f8;
  }
}

.newcommunities {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.newcommunities-bgimage {
  height: 80px;
  background-position: 50%;
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  &::before {
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
    top: 0;
    left: 0;
    position: absolute;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.top-communities {
  position: absolute;
  bottom: 8px;
  left: 5%;
  color: white;
  font-size: 16px;
  font-weight: bolder;
}

.li-newcommunities {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 49px;
  background-color: white;
  border-bottom: 1px solid #edeff1;
}

.anchor-newcommunities {
  display: flex;
  margin-left: 12px;
  margin-right: 12px;
  align-items: center;
  width: 70%;
  overflow: hidden;
}

.container-li {
  display: flex;
  flex-direction: row;
  height: 32px;
  align-items: center;
}

.number-list {
  font-size: 14px;
  font-weight: 500;
  min-width: 20px;
  text-align: right;
}

.imageicon-newcommunities {
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.name-community {
  font-size: 14px;
  font-weight: 500;
}

.join-newcommunities {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  color: white;
  min-width: 24px;
  min-height: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 16px;
  padding-left: 16px;
  background-color: #0079d3;
  border-radius: 9999px;
  margin-right: 12px;
  cursor: pointer;
  text-decoration: none;
}

.viewall-newcommunities {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0079d3;
  font-size: 14.5px;
  padding: 8px 16px;
  border-radius: 9999px;
  cursor: pointer;
  color: white;
  font-family: Noto Sans, Arial, sans-serif;
  font-weight: 700;
}

.home-right2 {
  width: 100%;
  margin-top: 16px;
}

.right2-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 3px;
}

.banner-right2 {
  height: 34px;
  width: 100%;
  background-image: url(../../../assets/banner-right2.png);
  border-radius: 3px 3px 0 0;
  background-position: center;
  background-size: cover;
}

.right2-imagecontainer {
  display: flex;
  align-items: center;
  margin-top: -23px;
  margin-bottom: 8px;
}

.right2-image {
  height: 68px;
  width: 40px;
  background-image: url(../../../assets/right2-redditicon.png);
  background-size: 40px 68px;
}

.right2-text {
  font-size: 14px;
  line-height: 21px;
}

.right2-divider {
  height: 1px;
  background-color: rgba(26, 26, 27, 0.07);
  width: 100%;
  margin-top: 16px;
  margin-bottom: 12px;
}

.right2-buttoncontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right2-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32px;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 14px;
}

.right2-createpost {
  color: white;
  background-color: #0079d3;

  &:hover {
    opacity: 0.9;
  }
}

.right2-createcommunity {
  color: #0079d3;
  margin-top: 12px;
  border: 1px solid #0079d3;

  &:hover {
    background-color: #f7f6f6;
  }
}

.tos-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  position: sticky;
  top: 57px;
}

.tos-inner {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 8px 0;
  border-bottom: 1px solid #e9ebed;
  margin-left: 12px;
}

.tos-two {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 0px 4px;
}

.tos-text {
  margin-bottom: 3px;
  margin-top: 3px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  font-family: "Noto Sans", sans-serif;
}

.home-gototop {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #0079d3;
  padding: 4px 16px;
  position: sticky;
  bottom: 0;
  border-radius: 9999px;
  cursor: pointer;
  top: calc(100vh - 40px);
  width: 110px;
  align-self: center;
  user-select: none;
  font-size: 14px;
  font-weight: 700;
}
