.heightholder {
  height: 48px;
  width: 100%;
}

.parent-home {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner-home {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  justify-content: center;
}

.home-feed {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 960px) {
    width: 640px;
  }
}

.home-newcommunities {
  width: 312px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.home-createpost {
  background-color: white;
  padding: 8px 8px 8px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.anchor-createpost {
  cursor: pointer;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  margin-right: 8px;
}

.input-createpost {
  flex-grow: 1;
  background-color: #f6f7f8;
  height: 38px;
  border: none;
  padding-left: 16px;
  border-radius: 4px;
  margin-right: 8px;
  color: #1c1c1c;
  border: 1px solid #f6f7f8;

  &:hover {
    border: 1px solid #0079d3;
    background-color: white;
  }
}

.home-iconcontainer {
  width: 38px;
  height: 38px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #f6f7f8;
  }
}

.newcommunities {
  display: flex;
  flex-direction: column;
}

.newcommunities-bgimage {
  height: 80px;
  background-position: 50%;
  position: relative;

  &::before {
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
    top: 0;
    left: 0;
    position: absolute;
  }
}

.top-communities {
  position: absolute;
  bottom: 8px;
  left: 5%;
  color: white;
  font-size: 16px;
  font-weight: bolder;
}

.li-newcommunities {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 49px;
  background-color: white;
  border-bottom: 1px solid #edeff1;
}

.anchor-newcommunities {
  display: flex;
  margin-left: 12px;
  margin-right: 12px;
  align-items: center;
  width: 70%;
  overflow: hidden;
}

.container-li {
  display: flex;
  flex-direction: row;
  height: 32px;
  align-items: center;
}

.number-list {
  font-size: 14px;
  font-weight: 500;
  min-width: 20px;
  text-align: right;
}

.imageicon-newcommunities {
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.name-community {
  font-size: 14px;
  font-weight: 500;
}

.join-newcommunities {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  color: white;
  min-width: 24px;
  min-height: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 16px;
  padding-left: 16px;
  background-color: #0079d3;
  border-radius: 9999px;
  margin-right: 12px;
  cursor: pointer;
  text-decoration: none;
}

.viewall-newcommunities {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0079d3;
  font-size: 14.5px;
  padding: 8px 16px;
  border-radius: 9999px;
  cursor: pointer;
  color: white;
  font-family: Noto Sans, Arial, sans-serif;
  font-weight: 700;
}
