.commentlist-parent {
  position: relative;
  transition: all 0.3s linear;
}

.comment-mla {
  margin: 16px 16px 0 10px;
  padding: 0 16px 16px 0;
}

.comment-parent {
  display: flex;
  align-items: center;
  padding: 8px 0 0 8px;
  position: relative;
  padding-bottom: 16px;
  max-width: 800px;
}

.threadline {
  display: flex;
  justify-content: center;
  height: calc(100% - 45.5px);
  position: absolute;
  left: 6px;
  bottom: 0;
  cursor: pointer;
  width: 16px;
}

.line {
  height: 100%;
  width: 2px;
  background-color: #edeff1;
  border-radius: 9999px;
}

.comment-toggleicon {
  align-self: flex-start;
}

.comment-icon {
  height: 28px;
  width: 28px;
  align-self: flex-start;
  margin-top: 2.5px;
}

.comment-pfp {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.comment-right {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.comment-username {
  color: black;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
  margin: 10px 0 6px 0;
}

.comment-u {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.comment-time {
  font-size: 12px;
  font-weight: 300;
  color: #7c7c7c;
}

.comment-body {
  padding: 2px 0;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  color: #1c1c1c;
}

.comment-bottomrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-votesrow {
  display: flex;
  flex-direction: row;
  margin-right: 4px;
  margin-top: 8px; //remove later
  align-items: center;
}

.comment-voteicon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.comment-votecount {
  margin: 0px 4px;
  user-select: none;
  font-size: 12px;
  font-weight: 500;
  color: rgb(26, 26, 27);
}

.comment-hover:hover {
  background-color: rgba(26, 26, 27, 0.1);
}

.comment-hoverc:hover > div {
  background-color: #0079d3;
}

.comment-rowreply {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  color: #878a8c;
  margin: 8px 4px 0 0;
  padding: 6px 4px;
  border-radius: 2px;
}

.comment-input {
  margin: 16px 0 16px 19px;
  position: relative;

  &::after {
    content: "";
    left: -19px;
    bottom: 0;
    width: 2px;
    height: 100%;
    background-color: #edeff1;
    position: absolute;
    border-radius: 9999px;
  }
}

.comment-m {
  padding: 8px 16px;
  resize: vertical;
  min-height: 122px;
  color: #1c1c1c;
  font-size: 14px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 4px 4px 0 0;
}

.comment-i-border {
  border: 1px solid #edeff1;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.comment-inputbot {
  background-color: #f6f7f8;
  height: 50px; //change later
  display: flex;
  align-items: center;
}
