.shareoverlay-container {
  position: absolute;
  top: 0;
  border: 1px solid #edeff1;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(28, 28, 28, 0.2);
}

.shareoverlay-inner {
  padding: 8px;
  cursor: pointer;
  border-top: 1px solid #edeff1;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    background-color: #e9f5fd;
  }
}

.text-shareoverlay {
  color: rgb(135, 138, 140);
  font-size: 14px;
  font-weight: 400;
}

.text-shareoverlay2 {
  color: rgb(135, 138, 140);
  font-size: 14px;
  font-weight: 400;
  margin-left: 6px;
}

.tdot-container {
  position: absolute;
  top: 0;
}

.tdot-save {
  @media only screen and (min-width: 1080px) {
    display: none;
  }
}

.tdot-share {
  @media only screen and (min-width: 520px) {
    display: none;
  }
}

.tdot-award {
  @media only screen and (min-width: 460px) {
    display: none;
  }
}
