.tsc-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 4px;
  flex-grow: 1;
}

.tsc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 5px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: rgba(26, 26, 27, 0.1);
  }
}

.tsc-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.tsc-divider {
  margin: 0 6px;
  width: 1px;
  height: 34px;
  border-right: 1px solid #edeff1;
}
