.submit-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.submit-heightholder {
  width: 100%;
  height: 48px;
}

.submit-inner1 {
  width: 100%;
}

.submit-inner {
  display: flex;
  flex-direction: row;
  padding: 20px 24px;
  justify-content: center;
}

.submit-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media only screen and (min-width: 960px) {
    width: 65%;
    max-width: 740px;
  }
}

.submit-createpost {
  display: flex;
  flex-direction: row;
  margin: 16px 0px;
  padding: 4px;
  border-bottom: 1px solid #edeff1;
  height: 34px;
}

.submit-createposttext {
  font-size: 18px;
  color: black;
  flex-grow: 1;
  font-weight: 500;
}

.submit-drafts {
  min-width: 32px;
  padding: 4px 16px;
  color: #0079d3;
  border-radius: 9999px;
  font-size: 12px;
  font-weight: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: #cbd0d6;
  }
}

.submit-draftcount {
  margin-left: 4px;
  background: #878a8c;
  border-radius: 2px;
  padding: 1px 3px;
  color: white;
  font-size: 12px;
}

.submit-selectedcommunity {
  margin-bottom: 8px;
  position: relative;
  border-radius: 3px;
}

.submit-createcomrow {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.submit-createnew {
  font-size: 12px;
  font-weight: 500;
  color: #0079d3;
  padding: 3px 6px;
  border-radius: 9999px;
  cursor: pointer;

  &:hover {
    background-color: #edeff1;
  }
}

.submit-choosecommunity {
  width: 300px;
  background: white;
  max-height: 400px;
  box-shadow: 0 -3px #edeff1 0 2px 1px;
  position: absolute;
  top: 38px;
  border-radius: 0px 0px 3px 3px;
  padding: 8px 7px;
  border: 1px solid #edeff1;
  z-index: 3;
}

.submit-graytitle {
  padding: 8px 0px 4px 8px;
  color: #878a8c;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 8px;
}

.submit-mapcommunitycontainer {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  align-items: center;
}

.submit-pfpimage {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.submit-nocommunities {
  width: 100%;
  padding: 24px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #878a8c;
  font-size: 13.5px;
  font-weight: 500;
}

.submit-communityimage {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  border-radius: 50%;
}

.submit-choosetitle {
  font-size: 14px;
  color: #1c1c1c;
  font-weight: 500;
}

.submit-divider {
  height: 1px;
  width: 100%;
  padding: 0px 8px;
  background-color: #edeff1;
  margin-left: -8px;
}

.submit-choosecol {
  display: flex;
  flex-direction: column;
}

.submit-membercount {
  color: #878a8c;
  font-size: 12px;
}

.submit-selectedcommunityinner {
  padding: 0px 8px;
  display: flex;
  align-items: center;
  width: 300px;
  height: 40px;
  background-color: white;
  border-radius: 3px;
}

.submit-dottedcircle {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 1px dashed black;
}

.submit-imageicon {
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.submit-selectedcommunitiesname {
  margin-left: 8px;
  font-size: 14px;
  flex-grow: 1;
  font-weight: 500;
}

.submit-inputcontainer {
  background: white;
  border-radius: 5px;
}

.submit-selecttype {
  display: flex;
  flex-direction: row;
  height: 51px;
  //   width: 100%;
  align-items: center;
}

.submit-selectchoice {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 17px;
  border: 0.5px solid #edeff1;
  cursor: pointer;
  font-weight: 500;
  font-family: "IBM Plex Sans", sans-serif;
  flex-grow: 1;

  &:hover {
    background-color: rgba(0, 121, 211, 0.05);
  }
}

.submit-selecttext {
  font-size: 14px;
  font-weight: 500;
  color: #878a8c;
}

.submit-textcontainer {
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.submit-title {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.submit-titletext {
  padding: 12px 68px 12px 15px;
  resize: none;
  border: 1px solid #edeff1;
  height: 15px;
  width: 100%;
  border-radius: 4px;
  background-color: transparent;
  overflow: hidden;
  color: rgb(28, 28, 28);
  transition: all 0.1s ease;
}

.submit-titlecount {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #878a8c;
  font-size: 10px;
  user-select: none;
}

.submit-flairandpost {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.submit-flaircontainer {
  display: flex;
  flex-direction: column;
  padding: 0px 16px 16px;
}

.submit-flair {
  padding-bottom: 8px;
  border-bottom: 1px solid #edeff1;
}

.submit-submitcontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.submit-l {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}

.submit-draftbut {
  padding: 4px 16px;
  border: 1px solid #0266b3;
  color: #0266b3;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 700;
}

.submit-postbut {
  padding: 5px 16px;
  color: white;
  background-color: #3484c2;
  cursor: pointer; //change later to satisfy
  border-radius: 9999px;
  margin-left: 8px;
  font-size: 14px;
  font-weight: 700;
}

.submitright-out {
  width: 288px;
  margin-left: 24px;
  margin-top: 35px;

  @media only screen and (max-width: 960px) {
    display: none;
  }
}

.submitright-innercontainer {
  width: 100%;
}

.submitright-tos {
  max-width: 250px;
  font-size: 12px;
  font-weight: 500;
  color: #7c7c7c;
  margin-top: 10px;
}

.submitright-blue {
  color: #0079d3;
}

.submit-newuser {
  padding-top: 10px;
  font-size: 12px;
  color: #7c7c7c;
  width: 100%;
  text-align: center;
}

.redditrules-container {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background-color: white;
}

.redditrules-inner {
  display: flex;
  flex-direction: column;
}

.redditrules-top {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  color: #1c1c1c;
  border-bottom: 1px solid #edeff1;
  line-height: 20px;
  align-items: center;
  font-weight: 500;
}

.redditrules-map {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  color: #1b1b1b;
  border-bottom: 1px solid #edeff1;
  line-height: 20px;
  align-items: center;
  font-weight: 500;
  padding: 10px 5px;
}
