@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");

* {
  margin: 0;
}

html,
body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #dae0e6;
  font-weight: 300;
}

textarea {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  border: none;
}

textarea:focus,
input:focus {
  outline: none;
}

input {
  color: #1c1c1c;
  outline: none;
  border: none;
  font-family: verdana;
}

pre {
  font-family: inherit;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

@font-face {
  font-family: "verdana";
  src: url("../fonts/webfontkit-20221117-005822/verdana-webfont.eot");
  src: url("../fonts/webfontkit-20221117-005822/verdana-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/webfontkit-20221117-005822/verdana-webfont.woff2")
      format("woff2"),
    url("../fonts/webfontkit-20221117-005822/verdana-webfont.woff")
      format("woff"),
    url("../fonts/webfontkit-20221117-005822/verdana-webfont.ttf")
      format("truetype"),
    url("../fonts/webfontkit-20221117-005822/verdana-webfont.svg#verdana")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

button {
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
}

img {
  border: 0;
}

.pointer {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grow {
  flex-grow: 1;
}

.nodisplay {
  display: none;
}

.flex-aligncenter {
  display: flex;
  align-items: center;
}

.blueborder-button {
  padding: 4px 16px;
  border: 1px solid #0079d3;
  color: #0079d3;
  border-radius: 9999px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-height: 32px;
  box-sizing: border-box;

  &:hover {
    background-color: #f7f6f6;
  }
}

.bluebutton-button {
  padding: 4px 16px;
  background-color: #0079d3;
  color: white;
  border-radius: 9999px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-height: 32px;
  box-sizing: border-box;

  &:hover {
    opacity: 0.9;
  }
}

.hide {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 9999;
}

.divider {
  background-color: rgba(26, 26, 27, 0.07);
  width: 100%;
  height: 1px;
}

.underline {
  text-decoration: underline;
}

.hoverunderline {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.hover1c1cbg {
  &:hover::before {
    opacity: 0.08;
  }

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background-color: #1c1c1c;
    opacity: 0;
  }
}

.col-7c {
  color: #7c7c7c;
}

.col-1c {
  color: #1c1c1c;
}
