.nav-parent {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 48px;
  background-color: white;
  position: fixed;
  top: 0;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 9999;
  box-sizing: border-box;
}

.nav-inner-1 {
  // width: 66.48%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  flex-grow: 1;
}

.nav-1 {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.nav-2-communities {
  height: 36px;
  width: 72px;
  background: white;
  border-radius: 4px 4px 0 0;
  position: relative;

  @media only screen and (min-width: 1000px) {
    width: 270px;
  }
}

.nav-2-button {
  background: transparent;
  border: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  cursor: pointer;

  &:hover {
    border: #edeff1 1px solid;
  }
}

.community-nav {
  background: white;
  @media only screen and (max-width: 1000px) {
    display: none;
  }
}

.nav-3-search {
  flex-grow: 1;
  height: 40px;
  margin-left: 16px;
  margin-right: 16px;
}

.nav-3-searchinner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #f6f7f8;
  border-radius: 1.25em;
  position: relative;
  &:hover > .overlay-nav-search {
    border: #0079d3 1px solid !important;
  }

  &:hover {
    background: white;
  }
}

.input-search {
  border: none;
  flex-grow: 1;
  height: 100%;
  background: transparent;
  z-index: 2;
  margin-left: 18px;
  font-size: 14px;
}

.overlay-nav-search {
  position: absolute;
  height: 99%;
  width: 99%;
  border-radius: 1.25em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}

.nav-inner2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.nav-twoicons {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #edeff1;
  padding-right: 8px;

  @media only screen and (max-width: 750px) {
    display: none;
  }
}

.icon-container {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #dae0e6;
  }
}

.nav-inner2-child {
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-advertise-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1.25em;
  background-color: #edeff1;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;

  &:hover {
    background-color: #c9ced2;
  }
}

.advertise-word {
  margin-right: 12px;
}

.userprofile-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  cursor: pointer;

  &:hover > .overlay-hover-profile {
    border: 1px solid #dae0e6;
  }
}

.pfp-nav {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.pfp-container {
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container-nav {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.overlay-hover-profile {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
}

.desc-nav {
  font-size: 12px;
  white-space: nowrap;

  @media only screen and (max-width: 1200px) {
    display: none;
  }
}

.profile-name {
  color: #1c1c1c;
}

.profile-karma {
  color: #a8aaab;
}

.nav-signupbutton {
  border-radius: 9999px;
  color: #0079d3;
  border: 1px solid #0079d3;
  font-size: 14px;
  font-weight: 700;
  padding: 4px 16px;

  @media only screen and (min-width: 1180px) {
    padding: 4px 40px;
  }

  &:hover {
    background-color: #f5fafd;
  }
}

.nav-loginbutton {
  border-radius: 9999px;
  color: white;
  background-color: #0079d3;
  font-size: 14px;
  font-weight: 700;
  padding: 4px 16px;
  margin-left: 16px;

  @media only screen and (min-width: 1180px) {
    padding: 4px 40px;
  }

  &:hover {
    background-color: #1484d6;
  }
}

.nav-c {
  width: 100%;
  height: 100%;
  padding: 8px 0px 0 0;
  user-select: none;
}

.nav-rightoverlay {
  width: 252px;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 2px;
  top: 47.5px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #edeff1;

  max-height: 80%;
  overflow-y: scroll;
}

.nav-opt {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  position: relative;

  &:hover {
    background-color: #0079d3;
    color: white;

    & > .nav-d1 {
      display: block;
    }

    & > .nav-d2 {
      display: none;
    }

    & > .nav-caret::before {
      background-color: white;
    }

    & > .nav-caret::after {
      background-color: white;
    }
  }
}

.nav-d1 {
  display: none;
}

.nav-div {
  border-top: 1px solid #edeff1;
  margin: 0px 16px;
}

.nav-opttext {
  margin-right: 20px;
  margin-left: 12px;
  font-size: 14px;
  font-weight: 500;
}

.nav-communitiesoverlay {
  width: 270px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #edeff1;
  top: 41.8px;
  position: fixed;
}

.communitiesoverlay-section {
  font-size: 10px;
  color: #878a8c;
  padding: 16px 24px 8px;
}

.nav-section {
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
  align-items: center;
  color: #787c7e;
  font-size: 15.5px;
  min-height: 40px;
}

.nav-p {
  margin-left: 12px;
}

.nav-o {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  padding: 0 16px 0 52px;
  position: relative;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.nav-q {
  margin-bottom: 12px;
}

.nav-mri {
  margin-left: 12px;
}

.nav-oe {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  padding: 0 20px;
  margin: 2.5px 0;
  position: relative;
  box-sizing: border-box;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.nav-mrit {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
}

.nav-p2 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
}

.nav-cr {
  padding: 12px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #878a8c;
  font-size: 13px;
  box-sizing: border-box;
}

.nav-caret {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
  display: flex;
  align-items: center;
  transition: 0.3s all ease;

  &::before {
    content: "";
    width: 8px;
    height: 1px;
    background-color: black;
    transform: rotate(45deg);
    margin-right: -2.8px;
  }

  &::after {
    content: "";
    width: 8px;
    height: 1px;
    background-color: black;
    transform: rotate(-45deg);
  }
}

.nav-childoptionparent {
  margin: 0 20px 12px 52px;
  padding-bottom: 12px;
  border-bottom: 1px solid #edeff1;
}

.nav-oep {
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  display: flex;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.nav-m {
  padding-bottom: 12px;
  border-bottom: 1px solid #edeff1;
  margin-bottom: 12px;
}

.nav-pill {
  width: 37.5px;
  border-radius: 100px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.nav-ball {
  width: 19.5px;
  height: 19.5px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-h {
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}
