.auth-maincontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.auth-leftimage {
  height: 100vh;
  width: 156px;
  background-image: url(../../../assets/authleft.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.auth-main {
  padding: 24px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.auth-text {
  font-size: 18px;
  font-weight: 500;
}

.auth-smalltext {
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 48px;
}

.auth-bluetext {
  cursor: pointer;
  color: #0079d3;

  &:hover {
    color: #3394dc;
  }
}

.auth-google {
  border: 1px solid #0079d3;
  border-radius: 3px;
  margin: 8px 0px;
  padding: 16px 0px 16px 65px;
  position: relative;
  cursor: pointer;
  background-color: white;
  color: #0079d3;
  font-size: 14px;
  font-weight: 600;

  &:hover {
    background-color: #0079d3;
    color: white;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
    background-color: white;
    width: 46px;
    height: 46px;
    border-radius: 3px;
  }

  &::after {
    content: "";
    width: 20px;
    height: 20px;
    left: 16px;
    position: absolute;
    background-image: url(../../../assets/googlelogo.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.auth-apple {
  border: 1px solid #0079d3;
  border-radius: 3px;
  margin: 8px 0px;
  padding: 16px 0px 16px 65px;
  position: relative;
  cursor: pointer;
  background-color: white;
  color: #0079d3;
  font-size: 14px;
  font-weight: 600;

  &:hover {
    background-color: #0079d3;
    color: white;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
    background-color: white;
    width: 46px;
    height: 46px;
    border-radius: 3px;
  }

  &::after {
    content: "";
    width: 20px;
    height: 20px;
    left: 16px;
    position: absolute;
    background-image: url(../../../assets/applelogo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.auth-divider {
  margin: 28px 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.auth-line {
  width: 40%;
  border-top: 1px solid #edeff1;
  height: 1px;
}

.auth-or {
  font-size: 14px;
  font-weight: 500;
  color: #878a8c;
}

.auth-inputcontainer {
  position: relative;
  border: none;
  display: flex;
  width: 100%;
}

.auth-input {
  padding: 21px 12px 9.5px;
  width: 100%;
  background-color: #fcfcfb;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

.auth-inputlabel {
  position: absolute;
  top: 50%;
  left: 12px;
  font-size: 10px;
  color: #a5a4a4;
  font-weight: 600;
  transform: translateY(-50%);
  transition: all 0.2s ease;
}

.movetopleft {
  transform: translate3d(-5px, -18px, 0) scale(0.93);
}
